#htmlDivPaginador {
    text-align: center;
    margin-bottom: 30px;
    padding: 0px;
}

.btnPaginacao {
    margin: 5px; 
}

.btnPaginacaoProxima {
    background-color:rgb(255,89,15);
    color:#ffffff; 
    margin-top:10px;    
}

.btnPaginacaoAnterior {
    background-color:rgb(255,89,15); 
    color:#ffffff; 
    margin-bottom:10px; 
    margin-left:5px;
}

/* Mobile */

@media screen and (max-width: 736px) 
{
    .btnPaginacao {
        margin: 5px 3px; 
    }    	    
}